/* src/components/MapPicker.module.css */

.mapContainer {
    width: 100%;
    height: 350px; /* Altura del mapa */
    margin-bottom: 1rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden; /* Asegura que el mapa respete el borde redondeado */
    border: 1px solid #ddd;
}

.map {
    height: 100%;
    width: 100%;
}

.instruction {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    z-index: 1000; /* Asegura que esté sobre el mapa */
    font-size: 0.9rem;
    text-align: center;
    max-width: 90%;
}

.locationButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: background-color 0.2s;
}

.locationButton:hover {
    background-color: #2980b9;
}

/* Oculta el popup por defecto si no lo usamos */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    display: none;
}