/* src/components/StaticMap.module.css */
.mapContainer {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0; /* Un fondo mientras carga la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 0.9rem;
  border-radius: 8px; /* Para que coincida con tus otros estilos */
  overflow: hidden;
}

.mapContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubre el contenedor */
}